{% extends 'base.html.twig' %}

{% block title 'Créer un nouvel utilisateur' %}

{% block body %}
    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                {{
                include(
                    'admin/user/_form.html.twig',
                    {
                        form: form,
                        button: 'Créer'
                    }
                )
                }}
            </div>

            {{ adminSidebar('admin_user') }}
        </div>
    </div>
{% endblock %}

