{% extends 'base.html.twig' %}

{% block baseline %}
    <div class="baseline">

        <div id="carousel1">

            <div class="item item1">
                <div class="item-title">
                    <a>WELCOME TO OUR RESTAURANT</a>
                </div>
                <div class="item-description">
                    <p>Restaurants range from inexpensive and informal lunching or dining places catering to people
                        working nearby, with modest food served in simple settings at low prices, to expensive
                        establishments serving refined food and fine wines in a formal setting. In the former case,
                        customers usually wear casual clothing.</p>
                </div>
                <a class="more-link">Read our story</a>

            </div>
            <div class="item item2">
                <div class="item-title">
                    <a>WE SERVE DELICIOUS DISHES</a>
                </div>
                <div class="item-description">
                    <p>The type of meal served or eaten at any given time varies by custom and location. In most modern
                        cultures, three main meals are eaten: in the morning, early afternoon, and evening. Further, the
                        names of meals are often interchangeable by custom as well.</p>
                </div>
                <a class="more-link">Read more</a>

            </div>
            <div class="item item3">
                <div class="item-title">
                    <a>ENJOY THE BEST LIVE MUSIC</a>
                </div>
                <div class="item-description">
                    <p>The nature of a concert varies by musical genre, individual performers, and the venue. Concerts
                        by a small jazz combo or small bluegrass band may have the same order of program, mood, and
                        volume—but vary in music and dress.Regular attendees to a concert venue might also have a
                        recognizable style that comprises that venue’s scene.</p>
                </div>
                <a class="more-link">View schedule</a>

            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="home-section">
        <div class="container-small">
            <h2 class="big-title">Recent recipes</h2>
            <div class="recipe">
                <a href="#"><img
                            src="https://appetitedemo.files.wordpress.com/2015/07/smachno_04.jpg?w=800&h=480&crop=1"
                            alt="card-recipe"/></a>
                <a href="#"><h3 class="entry-title">How to make sushi at home</h3></a>
                <div class="entry-meta">
                    <span class="description posted-on has-icon"><a href="#">July 8, 2015</a></span>
                    <span class="description byline has-icon"><a href="#">Taras DASHKEVYCH</a></span>
                    <span class="description comments-link has-icon"><a href="#">3 comments</a></span>
                </div>
                <div class="entry-summary">
                    <p>Sushi is a Japanese food consisting of cooked vinegared rice combined with other ingredients,
                        seafood, vegetables and sometimes tropical fruits.…</p>
                    <a class="more-link">Read more</a>
                </div>
            </div>

            <div class="recipe">
                <a href="#"><img
                            src="https://appetitedemo.files.wordpress.com/2015/07/smachno_02.jpg?w=800&h=480&crop=1"
                            alt="card-recipe"/></a>
                <a href="#"><h3 class="entry-title">EVERYTHING YOU WANT TO KNOW ABOUT PIZZA</h3></a>
                <div class="entry-meta">
                    <span class="description posted-on has-icon"><a href="#">July 8, 2015</a></span>
                    <span class="description byline has-icon"><a href="#">Taras DASHKEVYCH</a></span>
                    <span class="description comments-link has-icon"><a href="#">2 comments</a></span>
                </div>
                <div class="entry-summary">
                    <p>Pizza is an oven-baked flat bread generally topped with tomato sauce and cheese. It is commonly
                        supplemented with a selection…</p>
                    <a class="more-link">Read more</a>
                </div>
            </div>

            <div class="recipe">
                <a href="#"><img
                            src="https://appetitedemo.files.wordpress.com/2015/07/smachno_26.jpg?w=800&h=480&crop=1"
                            alt="card-recipe"/></a>
                <a href="#"><h3 class="entry-title">BEER ON TAP OR IN A BOTTLE?</h3></a>
                <div class="entry-meta">
                    <span class="description posted-on has-icon"><a href="#">July 4, 2015</a></span>
                    <span class="description byline has-icon"><a href="#">Taras DASHKEVYCH</a></span>
                    <span class="description comments-link has-icon"><a href="#">1 comment</a></span>
                </div>
                <div class="entry-summary">
                    <p>Beer is an alcoholic beverage produced by the saccharification of starch and fermentation of the
                        resulting sugar. The starch and…</p>
                    <a class="more-link">Read more</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}