{% extends 'base.html.twig' %}

{% block baseline %}
    <div class="item item-show th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28,28,28,0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(https://appetitedemo.files.wordpress.com/2015/07/smachno_26.jpg?w=1280&h=887&crop=1) no-repeat center center;">
        <div class="container transparent">
            <div class="entry-cats has-icon">
                <a href="#">Dessert</a> <span class="sep">/</span> <a href="#">Drinks</a> <span class="sep">/</span> <a
                        href="#">Food</a>
            </div>
            <div class="item-title mt-30 primary-font">
                <a>Dinners that will impressed your date</a>
            </div>
            <div class="entry-meta entry-meta-baseline">
                <span class="description posted-on has-icon"><a href="#">July 8, 2015</a></span>
                <span class="description byline has-icon"><a href="#">Taras DASHKEVYCH</a></span>
                <span class="description comments-link has-icon"><a href="#">2 comments</a></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left aside-left-show">
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">This person is in charge of all activities related to the kitchen, which
                        usually
                        includes
                        menu creation, management of kitchen staff, ordering and purchasing of inventory,
                        controlling raw material costs and plating design. Other names include executive
                        The core software is built by hundreds of community volunteers, and when you’re ready for more
                        there
                        are thousands of plugins and themes available to transform your site into almost anything you
                        can
                        imagine.
                        WordPress started in 2003 with a single bit of code to enhance the typography of everyday
                        writing
                        and with fewer users than you can count on your fingers and toes. Since then it has grown to be
                        the
                        largest self-hosted blogging tool in the world, used on millions of sites and seen by tens of
                        millions of people every day.
                    </p>
                </div>
                <h3 class="entry-content-h3">Romantic drinks</h3>
                <div class="jetpack-video-wrapper">
                    <div class="embed-vimeo">
                        <img class="video-link" src="https://i.vimeocdn.com/video/499243880.webp?mw=1800&mh=1013&q=70"
                             alt=""/>
                    </div>

                </div>
                <h3 class="entry-content-h3">La recette</h3>
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">This person is in charge of all activities related to the kitchen, which
                        usually
                        includes
                        menu creation, management of kitchen staff, ordering and purchasing of inventory,
                        controlling raw material costs and plating design. Other names include executive
                        The core software is built by hundreds of community volunteers, and when you’re ready for more
                        there
                    </p>
                </div>
                <div class="infos-main widget_recent_entries">
                    <h3 class="entry-content-h3">Les ingrédients</h3>
                    <ul>
                        <li class="has-icon ingredient-item">2 Tomates</li>
                        <li class="has-icon ingredient-item">3 salades</li>
                        <li class="has-icon ingredient-item">200g de boeuf</li>
                        <li class="has-icon ingredient-item">500g de riz</li>
                        <li class="has-icon ingredient-item">3 verres d'eau</li>
                    </ul>
                </div>
                <footer class="entry-footer">
                    <div class="author-container">
                        <img src="https://0.gravatar.com/avatar/9bef3042b6797401752a5fdab945e2b7?s=270&d=identicon&r=G"
                             alt=""/>
                        <div class="author-bio">
                            <h3>
                                Written by <br>
                                <a href="https://appetitedemo.wordpress.com/author/tarasdashkevych/?demo">Taras
                                    Dashkevych</a>
                            </h3>
                            <p>My name is Taras Dashkevych and I am a web developer/designer who loves to build simple
                                and clean websites with WordPress. I was born and raised in Ukraine and currently I live
                                in Washington state.</p>
                        </div>
                    </div>
                    <div class="comments">
                        <h3 class="entry-content-h3">3 Commentaires</h3>
                        <ol class="comments-list pl-0">
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author">
                                            <img src="https://0.gravatar.com/avatar/65c1bbbccb98f08aca215bd7e0352809?s=150&d=identicon&r=G" alt="">
                                            <br>
                                            <b>Julia Doe</b>
                                            <div class="comment-metadata">
                                                <a href="">July 4, 2015 at 10:50 am</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="comment-content mt-30">
                                        <p class="mt-0">The core software is built by hundreds of community volunteers, and when
                                            you’re ready for more there are thousands of plugins and themes available to
                                            transform your site into almost anything you can imagine. Over 60 million
                                            people have chosen WordPress to power the place on the web they call “home”
                                            — we’d love you to join the family.</p>
                                    </div>
                                </div>
                                <ol class="children pl-0">
                                    <li class="comment-children">
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-author">
                                                    <img src="https://0.gravatar.com/avatar/9bef3042b6797401752a5fdab945e2b7?s=150&d=identicon&r=G" alt="">
                                                    <br>
                                                    <b>Taras Dashkevych</b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="">July 4, 2015 at 10:51 am</a>
                                                </div>
                                            </div>
                                            <div class="comment-content mt-30">
                                                <p class="mt-0">This is an example page. It’s different from a blog post because it
                                                    will stay in one place and will show up in your site navigation (in
                                                    most themes). Most people start with an About page that introduces
                                                    them to potential site visitors.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author">
                                            <img src="https://0.gravatar.com/avatar/65c1bbbccb98f08aca215bd7e0352809?s=150&d=identicon&r=G" alt="">
                                            <b>Julia Doe</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="">July 23, 2015 at 10:50 am</a>
                                        </div>
                                    </div>
                                    <div class="comment-content mt-30">
                                        <p class="mt-0">WordPress started in 2003 with a single bit of code to enhance the typography
                                            of everyday writing and with fewer users than you can count on your fingers
                                            and toes. Since then it has grown to be the largest self-hosted blogging
                                            tool in the world, used on millions of sites and seen by tens of millions of
                                            people every day.</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <p class="no-comments mt-30">Comments are closed.</p>
                </footer>
            </div>

            <div class="aside-right aside-right-show">
                <aside class="aside">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <h4 class="widget-title">Recent posts</h4>
                        <ul>
                            <li><a href="#">How to Make Sushi at Home</a></li>
                            <li><a href="#">5-Minute Breakfasts That Are Actually Healthy</a></li>
                            <li><a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Recent comments</h4>
                        <ul>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Julia Doe on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">Everything You Want to Know About Pizza</a></li>
                            <li>Julia Doe on <a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li><a href="#">Dessert</a></li>
                            <li><a href="#">Drinks</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Seafood</a></li>
                            <li><a href="#">Tips</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock %}


