{% extends 'base.html.twig' %}

{% block title 'Nos articles' %}

{% block baseline %}
    <div class="item item-normal th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(https://appetitedemo.files.wordpress.com/2015/07/smachno_09.jpg?w=1280&h=852&crop=1) no-repeat center center;">
        <div class="container transparent">
            <div class="item-title primary-font">
                <a>Nos articles</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <div class="entry-summary mt-0">
                    <p class="mt-0 mb-0">This person is in charge of all activities related to the kitchen, which usually
                        includes
                        menu creation, management of kitchen staff, ordering and purchasing of inventory,
                        controlling raw material costs and plating design. Other names include executive
                    </p>
                </div>

                <div class="grid-event">

                    <div class="block-event flex-none">
                        <a href="#"><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMl1ntqxIEwcjXJmasY-N9JHRJeBF9jSWhl0mXhDOmL-Lw2a4JJqyUfTwAw_qadljXfs3G5E4&usqp=CAc"
                                    alt="card-recipe"/></a>

                        <h3 class="entry-title mt-30 has-line"><a href="#">WE MAKE FOOD</a>
                        </h3>
                        <div class="entry-summary">
                            <p>Although the terms flavoring and flavorant in common language denote the combined
                                chemical
                                sensations of taste and smell, the same terms are used in the fragrance and flavors
                                industry
                                to
                                refer to edible chemicals and extracts that alter the flavor of food and food
                                products
                                through
                                the sense of smell.</p>
                            <a class="more-link">Read more</a>
                        </div>
                        <span class="grid-sep"></span>
                    </div>

                    <div class="block-event flex-none">
                        <a href="#"><img
                                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMl1ntqxIEwcjXJmasY-N9JHRJeBF9jSWhl0mXhDOmL-Lw2a4JJqyUfTwAw_qadljXfs3G5E4&usqp=CAc"
                                         alt="card-recipe"/></a>


                        <h3 class="entry-title mt-30 has-line"><a href="#">BEST HAPPY HOURS</a></h3>
                        <div class="entry-summary">
                            <p>Happy hour is a marketing term for a time when a venue offers discounts on alcoholic
                                drinks.
                                Free
                                appetizers and discounted menu items are often served during happy hour. The use of
                                the
                                phrase
                                “happy hour,” to refer to a scheduled period of entertainment is, however, of much
                                more
                                recent
                                vintage.</p>
                            <a class="more-link">Read more</a>
                        </div>
                        <span class="grid-sep"></span>
                    </div>


                    <div class="block-event flex-none">

                        <a href="#"><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMl1ntqxIEwcjXJmasY-N9JHRJeBF9jSWhl0mXhDOmL-Lw2a4JJqyUfTwAw_qadljXfs3G5E4&usqp=CAc"
                                    alt="card-recipe"/></a>


                        <h3 class="entry-title mt-30 has-line"><a href="#">WE MAKE FOOD</a>
                        </h3>
                        <div class="entry-summary">
                            <p>Although the terms flavoring and flavorant in common language denote the combined
                                chemical
                                sensations of taste and smell, the same terms are used in the fragrance and flavors
                                industry
                                to
                                refer to edible chemicals and extracts that alter the flavor of food and food
                                products
                                through
                                the sense of smell.</p>
                            <a class="more-link">Read more</a>
                        </div>
                    </div>

                    <div class="block-event flex-none">

                        <a href="#"><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMl1ntqxIEwcjXJmasY-N9JHRJeBF9jSWhl0mXhDOmL-Lw2a4JJqyUfTwAw_qadljXfs3G5E4&usqp=CAc"
                                    alt="card-recipe"/></a>


                        <h3 class="entry-title mt-30 has-line"><a href="#">WE MAKE FOOD</a>
                        </h3>
                        <div class="entry-summary">
                            <p>Although the terms flavoring and flavorant in common language denote the combined
                                chemical
                                sensations of taste and smell, the same terms are used in the fragrance and flavors
                                industry
                                to
                                refer to edible chemicals and extracts that alter the flavor of food and food
                                products
                                through
                                the sense of smell.</p>
                            <a class="more-link">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aside-right">
                <aside class="aside">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <h4 class="widget-title">Recent posts</h4>
                        <ul>
                            <li><a href="#">How to Make Sushi at Home</a></li>
                            <li><a href="#">5-Minute Breakfasts That Are Actually Healthy</a></li>
                            <li><a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Recent comments</h4>
                        <ul>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Julia Doe on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">Everything You Want to Know About Pizza</a></li>
                            <li>Julia Doe on <a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li><a href="#">Dessert</a></li>
                            <li><a href="#">Drinks</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Seafood</a></li>
                            <li><a href="#">Tips</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}