{% extends 'base.html.twig' %}

{% block title 'Nos articles' %}

{% block baseline %}
    <div class="item item-normal th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(https://appetitedemo.files.wordpress.com/2015/07/smachno_09.jpg?w=1280&h=852&crop=1) no-repeat center center;">
        <div class="container transparent">
            <div class="item-title primary-font">
                <a>Nos articles</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <div class="entry-summary mt-0">
                    <p class="mt-0 mb-0">This person is in charge of all activities related to the kitchen, which usually
                        includes
                        menu creation, management of kitchen staff, ordering and purchasing of inventory,
                        controlling raw material costs and plating design. Other names include executive
                    </p>
                </div>

                <div class="grid-event">

                    {% for article in articles %}
                        <div class="block-event flex-none">
                            {% include "article/_article.html.twig" %}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="aside-right pl-30">
               {{ sidebar() }}
            </div>
        </div>
    </div>
{% endblock %}